<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <title>Results</title>
</head>
<body>
    <p>hello <%= displayName %>!</p>
    <h2>your <%= time_range.replace('_', ' ') %> spotify personality type: </h2>
    <h1 style="color: green"><%= userResults[0] %></h1>
    <h2>you are: </h2>
    <% userResults[1].forEach(type=>{ %>
        <p><%= type %></p>
    <% }) %>

    <h2>what does my personality type mean?</h2>

    <ul><% for(var feature in userResults[2]) { %>
        <li><%= feature %> </li>
        <ul><% for(var type in userResults[2][feature]) { %>
            <li><%= type %>: <%= userResults[2][feature][type] %></li>
        <% } %></ul>
    <% } %></ul>

    <div id="wrapper" style="height: 500px; width: 500px;">
        <canvas id="myChart" width="300" height="300"></canvas>
    </div>
    <script>
        
    var chartData = JSON.parse('<%- JSON.stringify(chartData) %>');
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chartData[1],
            datasets: [{
                label: '# of Users',
                data: chartData[2],
                backgroundColor: [
                    '#007f5f'
                ]
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
    </script>


</body>
</html>