<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>



    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <title>Spotify Personality Type Indicator</title>
</head>
<body>
    <div id="resultswrapper">
        <div>
            <!-- <h2>Your <%/* time_range.replace('_', ' ') */%> Spotify Personality Type: </h2> -->
            <h2><%= displayName %>'s Spotify Personality Type: </h2>
            <h1 style="color: #1ed760"><%= userResults[0] %></h1>
            <h2>You are: </h2>
            <% userResults[1].forEach(type=>{ %>
                <p><%= type %></p>
            <% }) %><br>

            <h2><%= displayName %>'s top genre (from their top 15 songs): </h2>
            <h1 style="color: #1ed760"><%= favoriteGenre %></h1><br>

            <h2>Count of each personality type:</h2>
            <div id="wrapper">
                <canvas id="myChart" height="300"></canvas>
            </div><br>

            <h2>Top genres of personality types:</h2>
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure><br>

            <!-- <ul><% chartData[1].forEach((type,i)=> { %>
                <li style="color: #1ed760"><h2><%= type %></h2> </li>
                <ul><% chartData[3][i].data.forEach(genre=> { %>
                    <li><h3><%= genre.name %></h3></li>
                <% }) %></ul>
            <% }) %></ul><br> -->

            <h2>What does my personality type mean?</h2>

            <ul><% for(var feature in userResults[2]) { %>
                <li><%= feature %> </li>
                <ul><% for(var type in userResults[2][feature]) { %>
                    <li><%= type %>: <%= userResults[2][feature][type] %></li>
                <% } %></ul>
            <% } %></ul>

        </div>
    </div>
    <script>
        
    var chartData = JSON.parse('<%- JSON.stringify(chartData) %>');
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chartData[1],
            datasets: [{
                label: '# of Users',
                data: chartData[2],
                backgroundColor: [
                    '#1ed760'
                ]
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: '#fff',
                        maxRotation: 90
                    },
                    grid: {
                        color: 'rgba(255,255,255,.1)'
                    }
                },
                x: {
                    ticks: {
                        color: '#fff',
                        maxRotation: 90
                    },
                    grid: {
                        color: 'rgba(255,255,255,.1)'
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            color: '#fff'
        }
    });
    </script>
    <script>
        var chartData = JSON.parse('<%- JSON.stringify(chartData) %>');
        Highcharts.chart('container', {
        chart: {
            type: 'packedbubble',
            //height: '800px',
            backgroundColor: 'none',
            styledMode: false
        },
        colors: [
            '#1ed760'
        ],
        title: {
            text: ''
        },
        plotOptions: {
            packedbubble: {
                enableMouseTracking: false,
                clip: false,
                minSize: '10%',
                maxSize: '60%',
                layoutAlgorithm: {
                    gravitationalConstant: 0.1,
                    splitSeries: true,
                    seriesInteraction: false,
                    dragBetweenSeries: false,
                    parentNodeLimit: false,
                    parentNodeOptions: {
                        bubblePadding: 20
                    }
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}',
                    parentNodeFormat: '{point.series.name}',
                    style: {
                        color: '#fff',
                        textOutline: 'none',
                        fontWeight: 'normal'
                    },
                },
                animation: {
                    defer: 0,
                    duration: 500
                },
                showCheckBox: false,
                showInLegend: false,
                enableSimulation: false
            },
            series: {
                color: '#FF0000'
            },
            exporting: {
                enabled: false
            },
            credits: {
                enabled: false
            }
        },
        series: chartData[3]
    });
    </script>
</body>
</html>